mixin btn(size = 'md', color = 'yell', type = 'link', agree = false)
    if agree
        .btn-wrapper.rsform-group
            if type == 'submit'
                .btn-inner
                    button(type="submit" class=`btn-${size == null ? 'md' : size} btn-${color}`).btn&attributes(attributes)
                        span
                            block
                small Нажимая кнопку «отправить» #[a(href='/') я даю согласие на обработку персональных данных]
            else
                .btn-inner
                    a(href="javascript:void(0)" class=`btn-${size == null ? 'md' : size} btn-${color}`).btn&attributes(attributes)
                        span
                            block
                small Нажимая кнопку «отправить» #[a(href='/') я даю согласие на обработку персональных данных]
    else
        if type == 'submit'
            .btn-inner
                button(type="submit" class=`btn-${size == null ? 'md' : size} btn-${color}`).btn&attributes(attributes)
                    span
                        block
        else
            .btn-inner
                a(href="javascript:void(0)" class=`btn-${size == null ? 'md' : size} btn-${color}`).btn&attributes(attributes)
                    span
                        block
