mixin ui__kit()
	.container
		.b-buttons.b-component
			h3.h3 1. Buttons
			+btn btn-primary
			+btn('fill') btn-fill
			+btn('border') btn-border
			+btn('fill','submit', false, 'btn-submit')
			+btn('disabled') btn-disabled
		.b-forms.b-component
			h3.h3 2. Form
			form.form
				+formField('text', 'ФИО')(
					data-msg="Поле ФИО обязательно для заполнения",
					data-msg-minlength="Пожалуйста, введите не меньше 3 символов.",
					minlength="3",
					required
				)
				+formField('tel', 'Телефон')(name="phoneRU" required).tel-input
				+formField('text', 'Дата')(name="date", required).date-input
				+formField('text', 'E-mail')(name="email", required).email-input
				+formField('text', 'Банковская карта')(name="creditcard", required).card-input
				+formField('password', 'Пароль')(
					name="password",
					id="password",
					minlength="6",
					password="true",
					required
				)
				+formField('password', 'Повторите пароль')(
					name="password-confirm",
					id="password-confirm",
					password="true",
					equalTo="#password",
					required
				)
				+formField('select', 'Выберите значение', $data.selectOptions)(
					name="select",
					data-msg="Выберите один из вариантов"
					required
				)
				+formField('checkbox', 'Чекбокс 1')(name="checkbox", id="checkbox-form", required)
				.form__radios.js-form__radios
					+formField('radio', 'Радио-баттон 1')(name="radiost", id="radio-form-1", required)
					+formField('radio', 'Радио-баттон 2')(name="radiost", id="radio-form-2", required)
				.form__footer
					+btn('fill','submit', false, 'Отправить')

		.b-carousel.b-component
			h3.h3 3. Carousel
			+carousel()
		.b-typographie.b-component
			h3.h3 4. Titles
				h1.h1 Redsoft h1
				h2.h2 Redsoft h2
				h3.h3 Redsoft h3
				h4.h4 Redsoft h4
				h5.h5 Redsoft h5
				h6.h6 Redsoft h6
		.b-component
			h3.h3 5. Checkbox, Radio-input
			.b-boxes
				.b-boxes__block
					.b-boxes__input
						+checkbox("Чекбокс 1")(id="checkbox")
					.b-boxes__input
						+checkbox("Чекбокс 2")(id="checkbox1")
				.b-boxes__block
					.b-boxes__input
						+radio("Радиокнопка 1")(name="radios", id="radio1")
					.b-boxes__input
						+radio("Радиокнопка 2")(name="radios", id="radio2")
		.b-range-slider.b-component
			h3.h3 6. Range-slider
			.range-slider
		.b-component
			h3.h3 7. Hamburger
			+hamburger
		.b-component
			h3.h3 8. Popups
			+btn-popup('fill', '#contact') Open popup
