- var staticPath = "./assets/";

include ../components/header/header
include ../components/footer/footer
include ../components/popups/popups
include ../components/ui__kit/ui__kit


include ../blocks/breadcrumb/breadcrumb
include ../blocks/btn/btn
include ../blocks/carousel/carousel
include ../blocks/form__field/form__field


mixin title(...titleParts)
	- var t = "AntTrans"
	each titlePart in titleParts.reverse()
		- t = titlePart + " / " + t
	title #{t}

mixin statcss(href)
	link(rel="stylesheet" href=href)

mixin statjs(href)
	script(src=href)

mixin selectBox(options, defaultText)
	select&attributes(attributes)(data-default-text=`${defaultText ? defaultText : ''}`)
		each option in options
			if (option == '')
				option(value="", data-display="Выберите значение") Выберите значение
			else
				option(value=option)=option